.header {
  position: fixed;
  width: 100%;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;

  &__wrapper {
    min-height: 100px;
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'appbar  appbar'
      '...  sidebar';
  }

  &__appbar {
    grid-area: appbar;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $dark-pink;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.9;
  }

  &__controls {
    margin: 0 20px;
  }

  &__btn {
    text-decoration: none;
    text-transform: uppercase;
    color: $white-color;
    margin-right: 10px;
    @include font(20px, 24px, 600);
  }

  &__person {
    text-decoration: none;
    color: $white-color;
    background-color: inherit;
    border: none;
    @include font(20px, 24px, 600);
  }

  &__dropdown {
    width: 100px;
    padding-top: 10px;
    background-color: $dark-pink;
    position: absolute;
    top: 62px;
    right: 27px;
    display: flex;
    justify-content: flex-start;
    display: none;
  }

  &__controls:hover &__dropdown {
    display: block;
    color: red;
  }

  &__Personbtn {
    width: 100%;
    color: $white-color;
    background-color: inherit;
    border: none;
    @include font(16px, 19px, 400);
  }

  &__sidebar {
    display: none;
    grid-area: sidebar;
    justify-self: end;
    background-color: #00c6ff;
    width: 200px;
    height: 400px;
    border-radius: 20px;
  }
}

.main {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 100vh;
  background: rgb(0, 198, 255);
  background-image: url('./../../../public/img/back1.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;

  &__wrapper {
    min-height: 50px;
    max-width: 1920px;
    margin: 0 auto;
    background: $dark-pink;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copy {
    text-decoration: none;
    text-transform: uppercase;
    color: $white-color;
    margin-left: 20px;
    @include font(14px, 18px, 400);
  }
}
